*{
    margin: 0px;
    box-sizing: border-box;
}

:root{
    font-family: Sour Gummy;
    font-weight: 50;

    /*COLORES*/
    --dark-pink: #E55A6B;
    --pink-hover: #ef99a8;
    --dark-pink-hover: #ad3b49;
	
}

a{
    background-color: white;
    color: var(--dark-pink);
    padding: 5px 20px;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    transition: 0.3s;
}

a:hover{
    background-color: black;
    color: pink;
    padding: 5px 30px;
    transition: 0.3s;
}

body{
    background-color: pink;
}

.main-body{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.main-title{
    font-size: 60px;
    font-weight: 300;
    user-select: none;
}

.main-header{
    display: flex;
    justify-content: center;

}

.button-container{
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main-body{
    gap: 20px;
}

figure{
    display: flex;
    justify-content: center;
}

/*BUBU*/
.bubu-div{
	background-image: url(https://i.pinimg.com/736x/41/d5/ad/41d5adf552a9d332885bda0560d9fa20.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

.osito-gif{
    height: 80px;
    position: absolute;
    left: 50px;
    top: 140px;
	user-select:none;
}
.bubu-body{
    margin-top: 20px;
}

.bubu-header{
    padding: 20px 0px 70px 0px;
    display: flex;
    background-image: url(https://i.pinimg.com/originals/ca/97/bd/ca97bde328433c2497b154afdee5f8d7.gif);
    background-size: 70px;
    background-repeat: repeat-x;
}

.bubu-audio{
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding-bottom:20px;
}

.bubu-audio--button{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-pink);
    color:white;
    transition: 0.3s;
}

.bubu-audio--button:hover{
    background-color: var(--dark-pink-hover);
    transition: 0.3s;
    cursor:pointer;
}

.bubu-audio--button__icon{
    width: 100%;
    height: 100%;
    fill: white;
    transition:0.3s
}

.bubu-audio--button__icon:hover{
    fill:var(--dark-pink);
    transition:0.3s;
}

.bubu-audio--length{
    display:flex;
    height:40px;
    padding: 0px 20px;
    width:fit-content;
    border-radius: 10px;
    align-items: center;
    background-color: var(--dark-pink);
}

.bubu-audio--length__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #FFF;
  overflow: hidden;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius:50px;
}

.bubu-audio--length__slider::-webkit-slider-thumb:hover {
	background: var(--pink-hover);
    transition: 0.3s;
    
}

.bubu-audio--length__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #ffc0cb;
  cursor: pointer;
  border-radius:500px;
  box-shadow: -410px 0 0 400px #ffc0cb;
  transition: 0.3s;
}

.bubu-audio--length__slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #ffc0cb;
  cursor: pointer;
  border-radius:500px;
  box-shadow: -410px 0 0 400px #ffc0cb;
	transition: 0.3s;
}
.bubu-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px 100px;
    padding: 20px;
    background-color: white;
	border-radius:50px;
	/*background-image: url('./resources/bg-bubutop.svg');
	background-repeat: no-repeat;
	background-size: cover;*/
	
}

.bubu-main--header{
    font-weight: normal;
    font-size: 20px;
    user-select:none;
    color: var(--dark-pink);
}

.bubu-main--topcontainer{
	display: flex;
	flex-direction: row;
	padding: 0px 40px;
	gap: 30px;
	align-items: center;
	
}

.bubu-main--figure{
	display: flex;
	justiy-content: center;
	align-items:center;
	width: 150px;
	height: 100px;
	/*Animacion*/
	animation-name:meandmybaby;
	position: relative;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2);
	
}

.meandmybaby-img{
	height: 100px;
	
	/*animation: meandmybaby 5s steps(2) linear 0s infinite normal none;*/
	
}

@keyframes meandmybaby {
	0% {top: -10px;}
	100% {top: 0px;}
}

.bubu-main--body{
    font-size: 30px;
    user-select:none;
}

.bubu-mybaby{
	display: flex;
	padding: 30px;
	background-image:url(https://i.pinimg.com/736x/ff/a9/1c/ffa91c3a97ae2d9eba1738a8faf6b3c0.jpg);
	
}
	

@media (max-width:700px){
    
    .bubu-header{
        background-image: url(https://i.pinimg.com/originals/ca/97/bd/ca97bde328433c2497b154afdee5f8d7.gif);
        padding: 30px 0px ;
        background-size: 40px;
        background-repeat: repeat-x;
    }
    
    .heart-gif{
        width: 20px;
        display:none;
    }

	.osito-gif{
    	height: 60px;
        left: 10px;
        top: 130px;
	}

    .bubu-main{
        margin: 0px 20px;
    }

	.bubu-main--topcontainer{
		flex-direction: column;
	}
}
	
